.background {
    /* background-color: #f8f9fa; */
}

.itemWrap {
    display: flex;
    justify-content: center;

    height: 85vh;
    padding: 0 10%;
    
}

.itemCaption, .itemImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.captionTitle {
    font-weight: bold;
    font-size: 30px;
}

.captionContent {
    font-size: 15px;
}

.itemImg > img, .itemImg > svg {
    width: 450px;
    height: auto;
}

@media (min-width: 992px) {
    .itemCaption {
        padding-left: 5%;
    }
}

@media (max-width: 991px) {

    .captionTitle {
        font-size: 26px;
    }

    .captionContent {
        font-size: 13px;
    }

    .itemImg > img, .itemImg > svg {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 767px) {

    .itemWrap {
        padding: 10% 10% 0 10%;
        overflow: scroll;
    }

    .itemImg {
        margin: 5% 0;
        align-items: center;
    }

    .itemImg > img, .itemImg > svg {
        min-width: 250px;
        max-width: 100%;
        max-height: 300px;

        width: auto;
    }

}